<h1>Questions</h1>

<table class="list_questions">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Answers</th>
    <th>Votes</th>
  </tr>

  <% @questions.each do |question| %>
    <%= render 'question', question: question %>
  <% end %>
</table>
<div class="new_question">
  <%= link_to 'New Question', new_question_path, class: "new_question_link", remote: true %>
</div>

<h3>Quote of the Day</h3>

<p><%= @quote %></p>
