<% if current_user %>
	<h1>Welcome <%= current_user.username %></h1>
<% end %>
<p><%= @zen_quote %></p>

<h2> All your Questions! </h2>


<ul class="question-list">
  <% @questions.each do |question|%>
    <%= render 'question_list_item', question: question %>
  <% end %>
</ul>

<br>
<div class="new-question-form-container">
  <%= link_to "Add a Question", new_question_path, class: 'question-link' %>
</div>
