<h1>Questions#index</h1>
<p>Find me in app/views/questions/index.html.erb</p>

<% @questions.each do |question| %>
  <p>
  <a href='/questions/<%= question.id %>'><%= question.title %></a>
  </p>
<% end %>
