<div class="row">
    <h1 class="title">Questions</h1>
    <span class="new_question">
      <%= link_to 'New Question', new_question_path, class: "new_question_link", remote: true %>
    </span>
</div>

<div class="list_questions">
  <% @questions.each do |question| %>
    <%= render 'question', question: question %>
  <% end %>
</div>


<div class="quote">
  <h3>Quote of the Day</h3>
  <p><%= @quote %></p>
</div>
