<div id="question_index">
  <h2>Quote of the day: <%= @quote %></h2>

  <% if current_user %>
  	<h1>Welcome <%= current_user.username %></h1>
  <% end %>

  <h2> All your Questions! </h2>

  <div id="question_list">
    <% @questions.each do |question|%>
      <%= render 'question', question: question%>
    <% end %>
  </div>
  <br>

  <div id="question_add">
    <%= link_to "Add a Question", new_question_path %>
  </div>
</div>
