<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<% if @answers %>
<h2> Answers: </h2>
 <ul>
    <% @answers.each do |answer| %>
      <li> <%= answer.content %></li>
    <% end %>
 </ul>
<% end %>
<%= render 'aform', :answer => @answer, :question => @question %>




