<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<h1>Question:</h1>

<h2><%= @question.title %></h2>
<%= @question.content %>

<h1>Answers:</h1>

<% @answers.each do |answer| %>
  <h2><%= answer.title %></h2>
  <%= answer.content %>
<% end %>


