<script type="text/x-handlebars-template" id='answer_template'>
  <li id="{{id}}A">
    <h3>{{ title }}</h3>
    <p>{{ content }}</p>
    <a href="/answers/{{ id }}/upvote" class="upvoteA">Upvote</a>
    <span>{{ vote }}</span>
    <a href="/answers/{{ id }}/downvote" class="downvoteA">Downvote</a>
  </li>
</script>
