<li>
  <%= answer.content %>
    <br>
    <br>
    <%= link_to image_tag("https://rittamdebnath.files.wordpress.com/2015/03/triangle.jpg"), question_answer_upvote_path(@question, answer), class: "up_tri", method: :get %>
    <%= link_to image_tag("http://le2020.com/assets/images/transparent-triangle-1.png"), question_answer_downvote_path( @question, answer), method: :get, class: "down_tri" %>
    vote totals: <%= answer.vote_totals %>
    <br>
</li>
