<script type="text/x-handlebars-template" id='error_template'>
  <div id='kill'>
    <p>Errors prevented this from saving:</p>
    {{#each errors}}
      <p>{{ this }}</p>
    {{/each}}
  </div>
</script>
