<h1>hello</h1>

<%= render 'questions/form' %>

<% if @questions %>
  <% @questions.each do |question| %>
    <a href="<%= question_path(question) %>">
      <h2><%= question.title %></h2>
    </a>
    <p><%= question.content %></p>
  <% end %>
<% end %>
