<h3>"<%= @quote.content %>"</h3>


  <p><%= render "form" %></p>

  <h1>All questions:</h1>
  <div id="question-list">
    <% @questions.each do |question| %>
      <div class="question">
        <%= render "question", question: question %>
      </div>
    <% end %>
  </div>
