<h1>DBC Overflow</h1>
<h1><%= @quote %></h1>
<h3>Questions:</h3>
<ul id="question_list">
<% @questions.each do |question| %>
<%= render partial: "questions/show_title", locals: {question: question} %>
<% end %>
</ul>
<%= render partial: "questions/new" %>
