<div class="container">
  <h1>Welcome to DBC Overflow!</h1>
  <% @questions.each do |question| %>
  <div class="question">
    <h3><%= question.title %></h3>
    <p><%= question.content %></p>
    <p><%= link_to 'Show', question_path(question) %></p>
  </div>
  <% end %>
</div>