<h2><em><%= @quote %></em></h2>

<%= render 'questions/form' %>

<% if @questions %>
	<ul id="questions">
  <% @questions.each do |question| %>
    <%= render('questions/new_question', question: question) %>
  <% end %>
	</ul>
<% end %>
