<h1>DBC Overflow</h1>
<h3>Question</h3>

<% @question.each do |q|%>
  <div class="question">
  <ul>
    <li><a href="/questions/<%=q.id%>">
      <%=q.title%><br>
    </a></li>
  </ul>
<%end%>
  </div>
  <%= link_to "Create New Question", new_question_path%>

