<div id='questions'>
  <%= render @question %>
</div>

<%= render 'questions/destroy' %>

<div id='answer_form'>
  <%= render 'answers/form' %>
</div>


<ul id='answers'>
  <%= render @answers %>
</ul>
