<h1>Question: <%= @question.title %></h1>
<p><%= @question.content %></p>

<p><%= render "answers/new" %></p>

<h2>All answers:</h1>
<div id='answer-list'>
  <% @answers.each_with_index do |answer| %>

    <div class="answer">
      <%= render "answers/answer", answer: answer %>
    </div>
  <% end %>
</div>
