<div id="content">
  <form>
    <div id="left"><textarea id="markdown"></textarea></div>
    <input type="submit" id="markdown_submit">
  </form>
    <div id="right"><p id="markdown_text"></p></div>
</div>
