<div id="answer_form">
  <%= form_for [@question, @question.answers.build] do |f| %>

    <p>
      <%= f.label :answer, 'YOUR ANSWERRRRR' %>
      <%= f.text_field :answer %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>
</div>
